@model YoutubeDownloader.Models.url

@{
    ViewData["Title"] = "Index";
}

<h1>Youtube Video Downloader</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YoutubeUrl" class="control-label"></label>
                <input asp-for="YoutubeUrl" class="form-control" />
                <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Format" class="control-label"></label>
                <span asp-validation-for="Format" class="text-danger"></span>
                <select id="dropFormat" class="form-control" asp-for="Format" asp-items="@(new SelectList(Model.FormatList,"format"))">
                    <option value="">select quality</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Download"  style="width:230px;height:60px;border:0;overflow:hidden;" class="btn-success" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">back</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
